
body {
	font-family: 'Metrophobic', Arial, sans-serif 40px; 
	margin: 10px;
	background: white;
	z-index: 2
}


.pokemon {
height: 400px;
    width: 300px;
	background: url('images/yellow.jpg');
	z-index: 1;
	background-size: 450px

}

@media screen and (max-width: 1204px){
.one {

	display:none;
}

.pokemon {
	background: url('images/01.jpg');
background-size: 250px
}
}
@media screen and (max-width: 768px) {
  .two {
  	display: none;
  }

  .pokemon {
  	background: url('images/pokemon1.jpg');
  	background-size: 250px
  }
}

@media screen and (max-width: 600px) {
  .three {
  	display: none;
  }

  .pokemon {
  	background: url('images/green.jpg');
  }
}
@media screen and (max-width: 480px) {
  .four {
  	display: none;
  }

  .pokemon {
  	background: url('images/01.jpg');
  	background-size: 250px
  }
}
@media screen and (max-width: 320px) {
  .five {
  	display: none;
  }

  .pokemon {
  	background: url('images/01.jpg');
  	background-size: 150px
  }

.div{
	display: block;
	color: red;
	margin: 10px
}


}
